<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Weather</title>

    <style>
        #title {
            font-family: 'Russo One', sans-serif;
        }

        #subtitle {
            font-family: 'Russo One', sans-serif;
        }

        .temp {
            font-size: 70px;
            font-family: 'Russo One', sans-serif;
        }

        .loc {
            font-size: 40px;
            font-family: 'Russo One', sans-serif;
        }

        .icon {
            width: 75px;
        }

        .desc {
            font-size: 20px;
        }
        
    </style>

    <!-- tab logo -->

    <!-- bootstrap styles -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- js plugins -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- font awesome icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- russo one google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <section class="search">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt-5">
                    <h5 class="text-center" id="title">What's the</h5>
                    <h1 class="text-center" id="subtitle">Weather?</h1>
                </div>
            </div>
            <div class="row">
                <div class="col text-center mt-3">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.name }}
                        <button type="submit" class="btn btn-primary btn-sm mt-3">Submit</button>
                    </form>
                </div>  
            </div>
        </div>
    </section>

    <!-- weather card section -->
    <section class="weather-display">
        {% for city_weather in weather_data %}
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="card mt-3" style="width: 30rem">
                        <div class="card-body text-center">
                            <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image" class="icon">
                            <h2 class="temp">{{ city_weather.temperature }}° F</h2>
                            <p class="real-feel">Feels like: {{ city_weather.real_feel}}° F</p>
                            <h4 class="loc pt-2">{{ city_weather.city }}, {{ city_weather.country}} </h4>
                            <p class="desc">{{ city_weather.description }}</p>
                            <p>Humidity: {{ city_weather.humidity }}%</p>
                            <p>Wind: {{ city_weather.wind}} km/hr</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>

</body>
</html>